.btn-block {
  display: block !important;
  width: 90% !important;
}
.btn {
  display: inline-block;
  /*padding: 6px 12px;*/
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity = 65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}
.mo_otp_table_layout {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 0px 10px 10px 10px;
  margin-bottom: 10px;
}
.mo_otp_table_layout input['type=text'] {
  width: 80%;
}
.mo_otp_table_layout td strong {
  margin-left: 10px;
}
.mo_otp_local_pricing_free_tab {
  background-color: rgba(34, 153, 221, 0.82)!important;
}
.mo_otp_local_pricing_paid_tab {
  background-color: #0b4669 !important;
}
.mo_otp_local_pricing_text {
  font-size: 14px !important;
  color: #fff !important;
  font-weight: 600 !important;
}
.mo_otp_local_pricing_sub_header {
  margin: 2px !important;
  color: #fff !important;
}
.mo_otp_local_pricing_header {
  color: #fff !important;
  margin: 4px !important;
}
.mo_otp_local_pricing_table {
  text-align: center;
  font-size: 15px !important;
  background-color: #ffffff;
}
.mo_otp_right {
  float: right;
}
.mo_otp_local_thumbnail {
  height: 566px;
  padding: 4px;
  margin-bottom: 10px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}
.mo_otp_premium_thumbnail {
  width: 350px;
  padding: 4px;
  margin-bottom: 10px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}
.mo_otp-form-control {
  display: block;
  width: 90%;
  margin-left: 5%;
  font-size: 15px!important;
  background: #0085ba;
  border-color: #0073aa #006799 #006799;
  border-width: 1px;
  border-style: solid;
  padding-left: 15%!important;
  border-radius: 3px;
  box-shadow: 0 1px 0 #006799;
  text-align: center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-shadow: 0 -1px 1px #006799,1px 0 1px #006799,0 1px 1px #006799,-1px 0 1px #006799;
}
.mo-form-control:focus,
.mo-form-control:hover {
  border-color: #0073aa #006799 #006799;
  border-width: 1px;
  border-style: solid;
}
.mo-form-control option {
  text-align: center;
}
/* The Modal(background) */
.mo_otp-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.mo_otp-modal-content {
  background-color: #fefefe;
  margin: 7% auto; /* 15% from the top and centered */
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}
.mo_otp-modal-container {
  padding: 0.01em 16px;
}
.mo_otp-modal-header {
  color: #4a4a4a !important;
  background-color: #ededed !important;
  padding: 12px 15px;
  font-size: 15pt;
  height: 30px;
  border-radius: 10px 10px 0px 0px;
}
.mo_otp-modal-footer,
.mo_otp-modal-footer a {
  background-color: #ededed !important;
  text-align: right;
  font-size: 12pt;
  height: 30px !important;
  padding: 12px 15px;
  border-radius: 0px 0px 10px 10px;
}
.mo_otp-modal-footer > div.form-actions {
  padding-top: 0px;
  margin-top: 0px;
}
.mo_otp-modal-footer a {
  text-decoration: underline !important;
}
.mo_otp_registration_help_desc {
  font-size: 13px;
  border-left: solid 2px rgba(128, 128, 128, 0.65);
  margin-top: 10px;
  padding-left: 10px;
}
a {
  cursor: pointer;
}
.mo_otp_registration_help_desc {
  font-size: 13px;
  border-left: solid 2px rgba(128, 128, 128, 0.65);
  margin-left: 5px;
  margin-top: 2px;
  padding-left: 10px;
}
#TB_window,
#TB_window #TB_ajaxContent {
  width: 500px!important;
}
.collapse {
  display: none;
  visibility: hidden;
  font-size: 14px !important;
}
.collapse.in {
  display: block;
  visibility: visible;
}
.collapsing {
  position: relative;
  font-size: 14px !important;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .20s;
  -o-transition-duration: .20s;
  transition-duration: .20s;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
}
